{%extends 'all-news/base.html'%}

{% block content %}

<div class="container">

  <div class="row">
    <div class="card">
      <img src="{{category.category_image.url}}" class="img-responsive" alt="">
      <button class="btn btn-primary" > view more</button></div>
  </div>

  <div class="row">
    <h1 class="text-center">{{category.title}}</h1>
  </div>

  <div class="row">
    <p>{{category.post}}</p>
  </div>

  <div class="row">
    <p>Posted {{category.pub_date|timesince}} by {{category.editor.first_name}}</p>
  </div>

</div>

{% endblock %}