{% extends 'all-photos/base.html' %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
<div class="container">
    <h1>Welcome to Wicky is a vibrant community of creatives, sharing copyright free images. All images are released
        under the wicky License. </h1>
    <br>
    <div class="row">
        {% if category %}
        <h2>Found {{ category|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found no category for {{message}}</h2>
        {% endif %}

    </div>
    <br>

    <div class="row">

        {% if category %}
        {% for cat in category %}

        <div class="col-md-4">
            <div class="card">
                <a data-toggle="modal" data-target="#{{cat.id}}">
                    <img style="margin-top:20px; margin-bottom:20px;" src="{{cat.image.url}}" alt="Image" height="200"
                        width="300"><br><br>
                </a>
            </div>
        </div>
        <div id="{{cat.id}}" class="modal fade" role="dialog"
            style="background-color:rgb(47, 61, 61);font-family: monospace;">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="card">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <p>{{cat.name}}</p>
                            <p>{{cat.description}}</p>
                        </div>
                        <div class="modal-body">
                            <img src="{{cat.image.url}}" alt="Image" width='500' length='600'>
                            <p>location: {{cat.location}}</p><br>

                            <button class="btn btn-primary" onclick="imageurl('{{image.id}}-url')">copy mage
                                link address</button>
                            <input class="form-control input-lg" type="text"
                                value="http://127.0.0.1:8000{{cat.image.url}}" id="{{image.id}}-url">
                        </div>
                    </div>
                    <script>

                        function imageurl(element) {
                            var image = document.getElementById(element);
                            image.select();
                            document.execCommand('copy');
                            alert("Copied the link of image: " + image.value);
                        }
                    </script>

                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endblock %}