{%extends 'all-photos/base.html' %}
{%block content%}
{%for photo in photo%}
<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">

<body>


    <div class="col-md-4">
        <div class="card">
            <a data-toggle="modal" data-target="#{{photo.id}}">
                <img style="padding-top:40px; padding-bottom:40px;" src="{{photo.image.url}}" alt="Image" height="300"
                    width="300"><br><br>
            </a>
        </div>
    </div>
    <div id="{{photo.id}}" class="modal fade" role="dialog"
        style="background-color:rgb(36, 212, 212);font-family: monospace;">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="card">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p>{{image.name}}</p>
                        <p>{{image.description}}</p>
                    </div>
                    <div class="modal-body">
                        <img src="{{photo.image.url}}" alt="Image" width='500' length='600'>
                        <p>location: {{image.location}}</p><br>


                        <button class="btn btn-primary" onclick="imageurl('{{image.id}}-url')">Copy Image
                            link</button>
                        <input class="form-control input-lg" type="text"
                            value="{{photo.image.url}}" id="{{image.id}}-url">
                    </div>
                </div>
                <script>
                    function imageurl(element) {
                        var image = document.getElementById(element);
                        image.select();
                        document.execCommand('copy');
                        alert("Copied the link of image: " + image.value);
                    }
                </script>

            </div>
        </div>

    </div>
    {%endfor%}
    {%endblock%}
</body>